

ion-toolbar{
  height: 90px;
  margin-top: -10px;
 }

 .logo-container {
  display: flex;
  align-items: center;
  
}

.logo-image {
  width: 180px; /* Adjust this value to make the image smaller */
  height: 180px; /* Adjust this value to make the image smaller */
  margin-top: -55px;
}

.icon-image {
 /* Adjust this value to make the image smaller */
  /* Adjust this value to make the image smaller */
  margin-top: -55px;
  margin-right: 20px;
  font-size: 30px;
}

.up{
  margin-top: -55px;
}

