<ion-content>


  <div >
    <ion-buttons class="up" (click)="navigateToHome()" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
<div class="logo-container">
    <ion-item >
      <ion-img  src="assets/LOGO.png" class="logo"></ion-img>
    </ion-item>
  </div>
   
  </div>
  <div class="header">
    <h4 class="title">Forgot Password?</h4>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-input  label="Email" type="email" [(ngModel)]="email"></ion-input>
      <ion-icon name="mail-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-button expand="full" color="primary" 
                (click)="sendResetLink()"
               >Send Password Reset Link
    </ion-button>
  </div>

  <ion-footer>
    <div class="container">
      <h4 style="font-weight: bold; color: black;">KASI2KASI</h4>
      <p style="font-weight: lighter; font-size: smaller; text-align: center;color: rgb(11, 12, 12);">@ 2023 Designed by ALLiNiT | All RightS Reserved</p>
    </div>
  </ion-footer>
</ion-content>
