.container{
    text-align: center;
    margin-top: 50%;
    
}

.input{
    font-size:300;

}
 ion-item{
    --background:'#f1f1f1';
    border-radius: 10px;
    margin-bottom: 16px;
 
 }

 .header{
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color:grey;
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }

 }
 

 .signupLink{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;

    
    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
    }
 }

 .forgotpassword{
    display: flex;
    justify-content: flex-end;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;

    }
 }

 .logo-container {
    display: flex;
  justify-content: center;
  align-items: center;
    margin-top: -50px;
    margin-left: -30px; /* Adjust the height as needed */
  }
  
  .logo {
    max-height: 150px; /* Make the logo fill the container's height */
    width: 200px; /* Maintain the aspect ratio */
    margin-top:35px;
  }
