.smaller-header {
  font-size: 16px; /* Adjust the font size to make the title smaller */
  height: 40px; /* Adjust the height to make the header shorter */
  padding: 1px; /* Adjust the padding to control the spacing */
  margin-top: -1px;
}

.custom-blue-title {
  color: #258abf;
}

.form-container {
  width: 400px;
  background: linear-gradient(#258abf, #258abf) padding-box,
              linear-gradient(145deg, transparent 35%,#20c9e7, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #030101;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #0a0a0a;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #0a0a0a;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -130px;
  height: 100vh; /* Center vertically within the viewport */
}


.container2{
  text-align: center;
  margin-top: -10px;

  
}

.container3 {
text-align: center;
  margin-top: 1px;
}

.small-image {
max-width: 200px; /* Set the maximum width */
max-height: 200px; /* Set the maximum height */
}

.centered-image {
display: flex;
justify-content: center;
align-items: center;
height: 100vh; /* 100% of the viewport height */
}


.centered-logo {
display: block; /* Make the image a block-level element */
margin: 20px auto; /* Center horizontally by setting left and right margins to auto */
max-width: 200px; /* Set the maximum width as needed */
max-height: 200px; /* Set the maximum height as needed */
}

.cards {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  text-align: left;
  border-radius: 0.5rem;
  margin-top: -350px;
  max-width: 290px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.header {
  padding: 1.25rem 1rem 1rem 1rem;
  background-color: #ffffff;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #FEE2E2;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.image svg {
  color: #DC2626;
  width: 1.5rem;
  height: 1.5rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #111827;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
  background-color: #F9FAFB;
}

.desactivate {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #DC2626;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancel {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #D1D5DB;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

.small-image {
  max-width: 200px; /* Set the maximum width */
  max-height: 200px; /* Set the maximum height */
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  margin-top: 5px;
}

.centered-logo {
  display: block; /* Make the image a block-level element */
  margin: 20px auto; /* Center horizontally by setting left and right margins to auto */
  max-width: 200px; /* Set the maximum width as needed */
  max-height: 200px; /* Set the maximum height as needed */
}

.btn{
  width: 130px;
}