.card {
  width: calc(250px - 10px); /* Adjust the width as needed */
  margin-bottom: 2px; /* Add margin between rows */
  margin-left: -40px;
  margin-right: -40px;
  width: 100%;
}

.photo{
  width:100%;
}