<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center">FeedBack</ion-title>
    <ion-buttons class="ion-justify-content-end" (click)="navigateToHome()" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row class = "ion-justify-content-center">
    <ion-col size = "12" sizeMd = "8" sizeLg="6" sizeXl="4">
  <div class="container">
    <div class="form-container">
      <h4>Explore some great <a [routerLink]="['/landing2']" >events</a> at any location while waiting for approval.</h4>
    </div>
  </div>
  <!-- Display the feedback information -->
  <div class="container">
    <div class="form-container">
      <h2>Admin Message:</h2>
      <p>{{ feedback }}</p>
    </div>
  </div>

<h2 class="h2">Edit Information</h2>

<div class="container2">
  <div class="form-container2">
    <div>
      <ion-input label = "Fullname:" [(ngModel)]="fullname" placeholder="Enter Fullname"></ion-input>
    </div>
    <div>
      <ion-input label = "Id Number:" [(ngModel)]="idNumber" spellcheck="false" placeholder="Enter IdNumber"></ion-input>
    </div>
    <div>
      <ion-input label = "YouTube Link:" [(ngModel)]="YouTubeLink" placeholder="Enter YouTubeLink"></ion-input>
    </div>
    <div>
      <ion-input label = "Stage Name:" [(ngModel)]="StageName" placeholder="Enter StageName"></ion-input>
    </div>

    <div class="ion-padding">
      <ion-button expand="full" (click)="showFileInput('idUrlInput')">
        Id Upload
      </ion-button>
      <input type="file" accept=".pdf" hidden (change)="onFileChange($event, 'idImg')" #idUrlInput>
    </div>
    <div class="ion-padding">
      <ion-button expand="full" (click)="showFileInput('selfieUrlInput')">
        Selfie Upload
      </ion-button>
      <input type="file" accept=".jpg,.png,.jpeg" hidden (change)="onFileChange($event, 'selfieImg')" #selfieUrlInput>
    </div>
  </div>
</div>

<ion-button  expand="medium" shape="round" (click)="updateUser()" class="bu">Update</ion-button>

</ion-col>
</ion-row>

</ion-content>
