.container{
    text-align: center;
    margin:auto;
    display: block;
    background: none;
    
}

.signupLink{
    //display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;

    
    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
    }
 }