<ion-content>
  <div class="container">
  <ion-img src="assets/LOGO.png"/>
</div>

<ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
  <ion-fab-button [routerLink]="['/landing2']">
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>


<div class="signupLink">
  <div class="container">
    <h4 style="font-weight: bold;">KASI2KASI</h4>
    <p style="font-weight: lighter; font-size: smaller; text-align: center;">@ 2023 Designed by ALLiNiT |All Rights Reserved</p>
  </div>
</div>
</ion-content>