<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Poster</ion-title>
    <ion-buttons class="--ion-justify-content-end" (click)="cancel()" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" class="post" [src]="eventData.posterUrl" />
    <ion-card-header>
      <ion-card-title>{{ eventData.title }}</ion-card-title>
      <ion-card-subtitle>{{ eventData.hasgtags }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text>Time: {{ eventData.startDate | date:'dd MMMM yyyy, h:mm a'}}</ion-text>
      <br>
      <ion-text>Location: {{ eventData.suburb }}, {{ eventData.city }}</ion-text>
      <br>
      <ion-text>Online Link: 
      <a [href]="eventData.onlineEventLink" target="_blank">
        <ion-text color="primary">{{ eventData.onlineEventLink }}</ion-text>
      </a>
    </ion-text>
      <h1>Lineup</h1>
      <!-- Display other event details here -->
      <ion-text>{{ eventData.selectedGuestsText }}</ion-text>
      
    </ion-card-content>
  </ion-card>
</ion-content>
